<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeoDjango Demo Country Details</title>
    <script type="text/javascript" src="http://openlayers.org/api/2.13.1/OpenLayers.js"></script>
</head>
<body>
<h2>List Country Details</h2>

<h3>{{ object.name }}</h3>
<table>
    <tr>
        <td style="font-weight: bold">Area</td>
        <td>{{ object.area }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold">Population 2005</td>
        <td>{{ object.pop2005 }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold">FIPS Code</td>
        <td>{{ object.fips }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold">2 Digit ISO</td>
        <td>{{ object.iso2 }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold">3 Digit ISO</td>
        <td>{{ object.iso3 }}</td>
    </tr>
</table>

<p>{{ object.mpoly.geojson }}</p>
<form>
    {{ form }}
</form>
</body>
</html>