.app-header {
    background-color: #b8e39c;
    color: #286ac0;
    font-family: sans-serif, Verdana, Arial;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}

.app-header-small {
    background-color: #b8e39c;
    color: #286ac0;
    font-family: sans-serif, Verdana, Arial;
    font-weight: normal;
    font-style: italic;
}

a {
    text-decoration: none;
}

p {
    font-family: sans-serif, Verdana;
}

h3 {
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-style: italic;
    color: #2c5742;
    text-align: center;
}

label {
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
}

.error {
    color: red;
    background-color: yellow;
}

.leaflet-container {
    display: block;
    margin: auto;
    height: 600px;
    width: 70%;
}